<div class="container">
	<div class="raw">
		<div class="col-1"></div>
		<div class="col-9">
			<h3>検索結果</h3>
			<div class="search-word">
				<% @images.each do | i |%>
					<%= image_tag "#{i.name}"%>
				<% end %>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</div>

